*.log
*.pot
*.pyc
local_settings.py

.vagrant/machines/default/virtualbox/action_set_name

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/id

*.gz

*.patch

.gitignore

vagrant/simcon/student/models.py

vagrant/simcon/simcon/urls.py

vagrant/simcon/simcon/urls.py

*.sqlite3

vagrant/.idea/encodings.xml

vagrant/.idea/misc.xml

vagrant/.idea/modules.xml

vagrant/.idea/scopes/scope_settings.xml

vagrant/.idea/vagrant.iml

vagrant/.idea/vcs.xml

vagrant/.idea/workspace.xml
