*.log
*.pot
*.pyc
local_settings.py

.vagrant/machines/default/virtualbox/action_set_name

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/id

*.gz

*.patch

.gitignore

vagrant/simcon/student/models.py

vagrant/simcon/simcon/urls.py

vagrant/simcon/simcon/urls.py
