{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <meta name="author" content="Nathanial Myers, Nick Horner">

    <title>Simulated Conversations</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "dist/css/bootstrap.css" %}" rel="stylesheet">

    <!-- prevent line breaks when using form fields -->
    <style type="text/css">
    form {display:inline; margin:0px; padding:0px;}
    </style>

    <!-- jQuery addition -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.js"></script>


    <script>

    $(document).ready(function(){      
    <!-- the snippet below ensures the AJAX POST has a CSRF token for django -->
      $(document).ajaxSend(function(event, xhr, settings) {
	  function getCookie(name) {
	      var cookieValue = null;
	      if (document.cookie && document.cookie != '') {
		  var cookies = document.cookie.split(';');
		  for (var i = 0; i < cookies.length; i++) {
		      var cookie = jQuery.trim(cookies[i]);
		      // Does this cookie string begin with the name we want?
		      if (cookie.substring(0, name.length + 1) == (name + '=')) {
			  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			  break;
		      }
		  }
	      }
	      return cookieValue;
	  }
	  function sameOrigin(url) {
	      // url could be relative or scheme relative or absolute
	      var host = document.location.host; // host + port
	      var protocol = document.location.protocol;
	      var sr_origin = '//' + host;
	      var origin = protocol + sr_origin;
	      // Allow absolute or scheme relative URLs to same origin
	      return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		  (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		  // or any other URL that isn't scheme relative or absolute i.e relative.
		  !(/^(\/\/|http:|https:).*/.test(url));
	  }
	  function safeMethod(method) {
	      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	  }

	  if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
	      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	  }
      });
      <!-- end snippet -->
      
      <!-- here's the ajax/jquery code to remove a video from pool-->
      $("#leftPane").on("click", "button.removeVideoButton", function(){
           var removeVideoFromPool = $(this).val();
           var data = { removeVideoFromPool:removeVideoFromPool };
           var args = { type:"POST", url:"/admin/template-wizard-update", data:data, cache:false, complete:function(){
                           $("#leftPane").load("/admin/template-wizard-left-pane");
                       } };
           $.ajax(args);
      });
      <!-- here's the code to add a video to the pool -->
      $("#leftPane").on("click", "button.addVideoButton", function(){
           var new_video = $("#video_name").val();
           var data = { new_video:new_video };
           var args = { type:"POST", url:"/admin/template-wizard-update", data:data, cache:false, complete:function(){
                            $("#leftPane").load("/admin/template-wizard-left-pane");
                       } };
           $.ajax(args);
      });
    });
    </script>




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="starter-template">
        <h2>Conversation Template Wizard</h2>
        <div class="alert alert-success">Here's how to use this page.... blah blah blah.</div>
          <div class="form-group">
          <label for="exampleInputEmail1">Conversation Title</label>
          <input type="text" name = "conversationTitle" class="form-control" placeholder="Enter a title">
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4><u>Videos</u></h4>
              <div id="leftPane">
                {% include "admin/template-wizard-left-pane.html" %}
              </div>
            </div>
            <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Video Page Editor</h3>
                </div>
                <div class="panel-body">
                  <div id="rightPane">
		    {%  include "admin/template-wizard-right-pane.html" %}
                  </div>                  
                </div>
              </div>
            </div>
          </div>
          <hr>
          <button type="submit" class="btn btn-default">Save Template &raquo; </button>
        <!--/form-->

      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "dist/js/bootstrap.min.js" %}"></script>
  </body>
</html>

{% endblock %}
