{% block content %}
                {%  if request.session.selectedVideo %}
                  <img src="http://img.youtube.com/vi/{{ request.session.selectedVideo }}/0.jpg" class="img-rounded" width="160" height="120">
                  <p> TODO print out title of video </p> {# TODO rich text replacement? http://django-tinymce.readthedocs.org/en/latest/index.html http://simonsstuffandthings.blogspot.com/2011/05/django-tinymce-profit.html#}
                  
                  <input type="submit" name="removeVideoResponse" value="Remove Video">
                  
                  {# replace with rich text editor #}<p>
                  <label for="videoText">Video Text:</label>
                  <input type="textarea" name="videoText" label="Video text">
                  <label for="enablePlayback">Enable playback of video?</label><input type="checkbox" name="enablePlayback">
                  <h3>Responses:</h3>
                  {% if request.session.responseOptions %}
                  {% for opt in request.session.responseOptions %}
                  <p><label for="response{{ forloop.counter}}">Option {{ forloop.counter }}</label><input type="text" name="response{{ forloop.counter }}" placeholder="Enter your response" value="{{opt}}"><input type="submit" name="removeResponse" value="Remove Response {{forloop.counter}}"><input type="submit" name="addVideoToResponse" value="Add video to response {{forloop.counter}}"></p>
                  {% endfor %}
                  {% endif %}
                  <input type="submit" name="addoption" value="Add Option">
                  
                {% else %}
                  No video selected.
                {% endif %}
{% endblock %}
