<!-- This template is used to generate a link to a simulated conversation that the researcher select.  It uses the
GenerateLink view.-->
{% extends "admin/base_site.html" %}
{% load staticfiles %}

<!-- help text -->
{% block extrahead %}

    <link rel="stylesheet" href="{%static "css/smoothness/jquery-ui-1.10.4.custom.css" %}">
    <script src="{%static "js/jquery-ui-1.10.4.custom.js" %}"></script>

{% endblock %}

{% block title %}Generate Link{% endblock %}
{% block content %}

    <h3>Generate Link</h3>
    {% if link %}
        <div class="alert alert-success">
            <b>{{success}}<br/></b>
            <b>Link: </b>
            <a href="{{link}}">{{link_user}}</a>
            <button id="copy_button" data-clipboard-text="{{link_user}}" title="Click to link.">Copy</button>
            <script src={% static "zeroclipboard-1.3.2/ZeroClipboard.js" %}></script>
            <script src={% static "zeroclipboard-1.3.2/copy.js" %}></script>
            <button class="btn btn-default" id="linkHelp">?</button>
        </div>
    {% else %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script>  $(function() {$( "#datepicker" ).datepicker();});
        </script>

        <form action = "/generatelink/" method = "post"> {% csrf_token %}
            <div class = "field_error_wrapper">
                {{form.templateID.errors}}
                {{form.templateID.label_tag}}<br/>
                {{form.templateID}}
                <br/><br/>
            </div>
            <div class = "field_error_wrapper">
                {{form.expirationDate.errors}}
                {{form.expirationDate.label_tag}}<button class="btn btn-default" id="generateHelp" type='button'>?</button><br/>
                {{form.expirationDate}}
                <br/><br/>
            </div>
        <input type = "submit" value = "Submit" />
    {% endif %}
    </form>

    <div id="generateText" title="">
        <p>The conversation you post online will be available to anyone with the correct address until the beginning of the day you specify.</p>
    </div>
    <div id="linkText" title="">
        <p>Save this address and give it to whomever you would like to take your conversation. If you right-click on it and 'copy' the link, you don't have to worry about making a mistake.</p>
    </div>

    <script>
        $( "#generateText" ).dialog( { autoOpen: false } );     
        $( "#linkText" ).dialog( { autoOpen: false } );    
        $( "#generateHelp" ).click(function() {
           $( "#generateText" ).dialog( "open" );
        });
   
        $( "#linkHelp" ).click(function() {
           $( "#linkText" ).dialog( "open" );
        });
    </script>

{% endblock %}
