{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block title %}
Admin | Template Wizard
{% endblock %}
{% block branding %}
<h1 id="site-name">Simcon Researcher</h1>
{% endblock %}

{% block extrahead %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <meta name="author" content="Nathanial Myers, ">

    <!-- prevent line breaks when using form fields -->
    <style type="text/css">
    form {display:inline; margin:0px; padding:0px;}
    </style>

    <!-- help popups  -->
    <link rel="stylesheet" href="{%static "css/smoothness/jquery-ui-1.10.4.custom.css"%}">
    <script src="{%static "js/jquery-ui-1.10.4.custom.js" %}"></script> 
     


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  {% endblock %}
  {% block content %}

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-5">
          <h2>Conversation Templates<button class="btn btn-default" id="conversationHelp">?</button></h2>
          <p>
            {% if templateList %}
              <table class="table">
              <h5>
              {% for temp in templateList %}
                <tr>
                  <td><small><a href="{% url 'TemplateWizardEdit' temp.templateID %}">{{temp.shortDesc}}</a></small></td>
                  <td><small><a href="{% url 'TemplateDelete' temp.templateID %}">Delete</a></small></td>
                  <td><small><a href="{% url 'ShareTemplate_with_templateID' temp.templateID %}">Share</a></small></td>
                  <td><small><a href="{% url 'GenerateLink_with_templateID' temp.templateID %}">Generate link</a></small></td>
                  <td><small><a href="{% url 'Links' temp.templateID %}">Links</a></small></td>
                </tr>
              {% endfor %}
              </h5>
              </table>
            {% else %}
               There are no templates yet.
            {% endif %}
          </p>
          <p><a class="btn btn-default" href="{% url 'TemplateWizard' %}" role="button">New Template &raquo;</a></p>
       </div>
        <div class="col-md-5">
          <h2>Recent Responses</h2>
          <p>
          {% if responseList %}
            <table class="table">
            <h5>
            {% for res in responseList %}
              <tr>
                <td><a href="{% url 'SingleResponse' res.id %}">Response from {{res.studentName}}</a></td>
                <td><small>{{res.templateID.shortDesc}}</small></td>
                <td><small>{{res.dateTime}}</small></td>
                <td><small><a href="{% url 'ShareResponse_with_responseID' res.id %}">Share</a></small></td>
              </tr>
            {% endfor %}
            </h5>
            </table>
          {% else %}
            No recent responses.
          {% endif %}
            <h4><u>Responses shared with you</u></h4>
          {% if sharedResponseList %}
              <table class="table">
              <h5>
                {% for sh in sharedResponseList %}
                <tr>
                  <td><a href="{% url 'SingleResponse' sh.responseID.id %}">Response from {{sh.responseID.studentName}}</a></td>
                  <td><small>{{sh.responseID.templateID.shortDesc}}</small></td>
                  <td><small>{{res.responseID.dateTime}}</small></td>
                </tr>
                {% endfor %}
              </h5>
              </table>
          {% else %}
            No shared responses yet.
          {% endif %}
          </p>
          <p><a class="btn btn-default" href="{% url 'Responses' %}" role="button">View all &raquo;</a></p>
        </div>
      </div>

{% if user.is_active and user.is_superuser %}
      <h3>Researcher Account Management</h3>
      <form method="get" action="/admin">
      {% csrf_token %}
      <button type="button" class="btn btn-default" onClick="submit()">Create/Delete Researchers &raquo;</button></form>
{% endif %}

    <div id=conversationText title="Conversation Template Help"> These are all the conversation templates you have access to, from here you may
    <p>
    Edit a template;     Modify any of the choices, videos or possible paths through your template.
    <p>
    Delete a Template;     Get rid of a template no longer in use.
    <p>
    Share a template;     Give another researcher access to one of your templates.  Note that when you share a template, changes made by you and the other researcher(s) to your copies will not affect one another.
    <p>
     Generate a link to a template;    Create a website that will allow your subjects to hold your conversation.  This process will give you an address that you can then give to anyone you would like to have your conversation. 
    </div>

    <script>
        $( "#conversationText" ).dialog( { autoOpen: false } );      
        $( "#conversationHelp" ).click(function() {
                $( "#conversationText" ).dialog( "open" );
        });
    </script>


    </div> <!-- /container -->

{% endblock %}
