{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block title %}
Simcon | Researcher View
{% endblock %}
{% block branding %}
<h1 id="site-name">Simcon Researcher View</h1>
{% endblock %}

{% block extrahead %}
    <!-- help popups  -->
    <link rel="stylesheet" href="{%static "css/smoothness/jquery-ui-1.10.4.custom.css"%}">
    <script src="{%static "js/jquery-ui-1.10.4.custom.js" %}"></script>

    <link href="{% static "tablesorter/css/theme.blue.css"%}" rel="stylesheet">
    <link href="{% static "tablesorter/addons/pager/jquery.tablesorter.pager.css"%}" rel="stylesheet">
	<script type="text/javascript" src="{% static "tablesorter/js/jquery.tablesorter.min.js" %}"></script>
	<script type="text/javascript" src="{% static "tablesorter/addons/pager/jquery.tablesorter.pager.js" %}"></script>
    <script type="text/javascript" src="{% static "tablesorter/js/jquery.tablesorter.widgets.js" %}"></script>
    <script type="text/javascript" src="{% static "tablesorter/js/tbSorter.js" %}"></script>
     
    <script>
	$(document).ready(function()
	    {
            tbSorter("#template", "#pager1");
            tbSorter_no_pager("#response");
            tbSorter_no_pager("#sharedResponse");
        });
    </script>
  {% endblock %}
  {% block content %}

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-5">
          <h2>Conversation Templates<button class="btn btn-default" id="conversationHelp">?</button></h2>
          <p>
            {% if templateList %}
              <table id="template" class="tablesorter">
                  <thead>
                    <tr>
                        <th>Template</th>
                        <th class="filter-false"></th>
                        <th class="filter-false"></th>
                        <th class="filter-false"></th>
                        <th class="filter-false"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for temp in templateList %}
                      <tr>
                          <td><small><a href="{% url 'TemplateWizardEdit' temp.templateID %}">{{temp.shortDesc}}</a></small></td>
                          <td><small><a href="{% url 'TemplateDelete' temp.templateID %}">Delete</a></small></td>
                          <td><small><a href="{% url 'ShareTemplate_with_templateID' temp.templateID %}">Share</a></small></td>
                          <td><small><a href="{% url 'GenerateLink_with_templateID' temp.templateID %}">Generate link</a></small></td>
                          <td><small><a href="{% url 'Links' temp.templateID %}">Links</a></small></td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
              <div id="pager1" class="pager">
                <form>
                    <img src={% static "tablesorter/addons/pager/icons/first.png"%} class="first"/>
                    <img src={% static "tablesorter/addons/pager/icons/prev.png"%} class="prev"/>
                    <input type="text" class="pagedisplay"/>
                    <img src={% static "tablesorter/addons/pager/icons/next.png"%} class="next"/>
                    <img src={% static "tablesorter/addons/pager/icons/last.png"%} class="last"/>
                    <select class="pagesize">
                        <option selected="selected"  value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option  value="40">40</option>
                    </select>
                </form>
              </div>
            {% else %}
               There are no templates yet.
            {% endif %}
          </p>
          <p><a class="btn btn-default" href="{% url 'TemplateWizard' %}" role="button">New Template &raquo;</a></p>
       </div>
        <div class="col-md-5">
          <h2>Recent Responses</h2>
          <p>
          {% if responseList %}
            <table id="response" class="tablesorter">
              <thead>
                <tr>
                  <th>Response From</th>
                  <th>Template</th>
                  <th>Date</th>
                  <th class="filter-false"></th>
                  <th class="filter-false"></th>
                </tr>
              </thead>
              <tbody>
              {% for res in responseList %}
                <tr>
                  <td><a href="{% url 'SingleResponse' res.id %}">{{res.studentName}}</a></td>
                  <td><small>{{res.templateID.shortDesc}}</small></td>
                  <td><small>{{res.dateTime}}</small></td>
                  <td><small><a href="{% url 'ShareResponse_with_responseID' res.id %}">Share</a></small></td>
                  <td><small><a href="{% url 'DeleteResponse_by_id' res.pk %}">Delete</a></small></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            No recent responses.
          {% endif %}
            <h4><u>Responses shared with you</u></h4>
          {% if sharedResponseList %}
            <table id="sharedResponse" class="tablesorter">
              <thead>
                <tr>
                  <th>Response From</th>
                  <th>Template</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                {% for sh in sharedResponseList %}
                  <tr>
                    <td><a href="{% url 'SingleResponse' sh.responseID.id %}">{{sh.responseID.studentName}}</a></td>
                    <td><small>{{sh.responseID.templateID.shortDesc}}</small></td>
                    <td><small>{{sh.responseID.dateTime}}</small></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            No shared responses yet.
          {% endif %}
          </p>
          <p><a class="btn btn-default" href="{% url 'Responses' %}" role="button">View all &raquo;</a></p>
        </div>
      </div>

{% if user.is_active and user.is_superuser %}
      <h3>Researcher Account Management</h3>
      <form method="get" action="/admin/">
      {% csrf_token %}
      <button type="button" class="btn btn-default" onClick="submit()">Create/Delete Researchers &raquo;</button></form>
{% endif %}

<div id="conversationText" title="Conversation Template Help"><p> These are all the conversation templates you have access to, from here you may
    <p>
    <b>Edit a template:</b></br>     Modify any of the choices, videos or possible paths through your template.
    <p>
    <b>Delete a Template:</b></br>     Get rid of a template no longer in use.
    <p>
    <b>Share a template:</b></br>     Give another researcher access to one of your templates.  Note that when you share a template, changes made by you and the other researcher(s) to your copies will not affect one another.
    <p>
    <b>Generate a link to a template:</b></br>    Create a website that will allow your subjects to hold your conversation.  This process will give you an address that you can then give to anyone you would like to have your conversation. 
    </div>

    <script>
        $( "#conversationText" ).dialog( { autoOpen: false } );      
        $( "#conversationHelp" ).click(function() {
                $( "#conversationText" ).dialog( "open" );
        });
    </script>


    </div> <!-- /container -->

{% endblock %}
