<!-- This template is used to display a single conversation worth of responses-->
{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block title %}Response Review{% endblock %}
{% block branding %}<h1>Response View</h1>{% endblock %}
{% block extrahead %}

    <!-- help popups  -->
    <link rel="stylesheet" href="{%static "css/smoothness/jquery-ui-1.10.4.custom.css" %}">
    <script src="{%static "js/jquery-ui-1.10.4.custom.js" %}"></script>

	<link href="{% static "tablesorter/css/theme.blue.css"%}" rel="stylesheet">
	<link href="{% static "tablesorter/addons/pager/jquery.tablesorter.pager.css"%}" rel="stylesheet">
	<script type="text/javascript" src="{% static "tablesorter/js/jquery.tablesorter.min.js" %}"></script>
	<script type="text/javascript" src="{% static "tablesorter/addons/pager/jquery.tablesorter.pager.js" %}"></script>
    <script type="text/javascript" src="{% static "tablesorter/js/jquery.tablesorter.widgets.js" %}"></script>
    <script type="text/javascript" src="{% static "tablesorter/js/tbSorter.js" %}"></script>

    <script>
	$(document).ready(function() 
	    {
            tbSorter("#mine", "#pager1");
            tbSorter("#others","#pager2");
        });
    </script>

{% endblock %}

{% block content %}

<h2>Your Responses<button class="btn btn-default" id="yourHelp">?</button></h2>

<table id="mine" class="tablesorter">
<thead> 
<tr> 
    <th>Template</th> 
    <th>Student</th> 
    <th>Date Taken</th>
    <th class="filter-false"></th>

</tr> 
</thead> 
<tbody>

{% for n in conversations %}

<tr> 
    <td>
		<a href="{% url 'SingleResponse' n.id %}">
		{{n.templateID.shortDesc}}
		</a>
	</td> 
	<td>
		<a href="{% url 'SingleResponse' n.id %}">
		{{n.studentName}}
		</a>
	</td> 
    <td>
			<a href="{% url 'SingleResponse' n.id %}">
			{{n.dateTime}}
			</a>
	</td>
    <td><small><a href="{% url 'ShareResponse_with_responseID' n.id %}">Share</a></small></td>
	</tr> 

{% endfor %}

</tbody>
</table>

</table>
<div id="pager1" class="pager">
	<form>
		<img src={% static "tablesorter/addons/pager/icons/first.png"%} class="first"/>
        <img src={% static "tablesorter/addons/pager/icons/prev.png"%} class="prev"/>
        <input type="text" class="pagedisplay"/>
        <img src={% static "tablesorter/addons/pager/icons/next.png"%} class="next"/>
        <img src={% static "tablesorter/addons/pager/icons/last.png"%} class="last"/>
		<select class="pagesize">
			<option selected="selected"  value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option  value="40">40</option>
		</select>
	</form>
</div>



<h2>Responses Shared With You<button class="btn btn-default" id="shareHelp">?</button></h2>
<table id="others" class="tablesorter">
<thead> 
<tr> 
    <th>Template</th> 
    <th>Student</th> 
    <th>Date Taken</th> 

</tr>
</thead> 

<tbody>

{% for n in sharedConversations %} 
<tr> 
    <td>
		<a href={% url 'SingleResponse' n.id %}>
		{{n.templateID.shortDesc}}
		</a>
	</td> 
    <td>
		<a href={% url 'SingleResponse' n.id %}>
		{{n.studentName}}
		</a>
	</td> 
    <td>
		<a href={% url 'SingleResponse' n.id %}>
		{{n.dateTime}}
		</a>
	</td> 
</tr> 

{% endfor %}
</tbody>

</table>
<div id="pager2" class="pager">
	<form>
		<img src={% static "tablesorter/addons/pager/icons/first.png"%} class="first"/>
        <img src={% static "tablesorter/addons/pager/icons/prev.png"%} class="prev"/>
        <input type="text" class="pagedisplay"/>
        <img src={% static "tablesorter/addons/pager/icons/next.png"%} class="next"/>
        <img src={% static "tablesorter/addons/pager/icons/last.png"%} class="last"/>
		<select class="pagesize">
			<option selected="selected"  value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option  value="40">40</option>
		</select>
	</form>
</div>

   <div id="yourText" title="Your Respones Help">
      <p>These are all the responses to your templates.  Click on any entry in a row to view that entire Conversation.</p>
   </div>
   <div id="shareText" title="Shared Responses Help">
       <p>These are responses to other researcher's templates that they have shared with you. </p>
       <p>Click on any entry in a row to view that entire conversation.</p>
   </div>

     <script>
        $( "#yourText" ).dialog( { autoOpen: false } );     
        $( "#shareText" ).dialog( { autoOpen: false } );    
        $( "#yourHelp" ).click(function() {
           $( "#yourText" ).dialog( "open" );
        });
   
        $( "#shareHelp" ).click(function() {
           $( "#shareText" ).dialog( "open" );
   });
     </script>

{% endblock %}

