<!-- This template is used to display a single conversation worth of responses-->
{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block title %}Response Review{% endblock %}
{% block extrahead %}



    <!-- Bootstrap core JavaScript -->

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "dist/js/bootstrap.min.js" %}"></script>

    <!-- help text -->
    <script>
	    
        function yourHelp()
        { 
                alert("These are all the responses to your templates.  Click on any entry in a row to view that entire Conversation.");
        }
        
        function shareHelp()
        { 
                alert("These are responses to other researcher\'s templates that they have shared with you.  Click on any entry in a row to view that entire conversation.");
        }
        
    </script>


	<!-- Bootstrap core CSS -->
    <link href="{% static "dist/css/bootstrap.css"%}" rel="stylesheet">


	<script type="text/javascript" src="{% static "jquery-2.1.0.min.js" %}">
	</script>
	<script src="{% static "tables/jquery.tablesorter.min.js" %}">
	</script>
	<script src="{% static "tables/addons/pager/jquery.tablesorter.pager.js" %}">
	</script>
	<link href="{% static "tables/themes/blue/style.css"%}" rel="stylesheet">
	<link href="{% static "tables/addons/pager/jquery.tablesorter.pager.css"%}" rel="stylesheet">


	<script>

	$(document).ready(function() 
	    { 
	        $("#Responses").tablesorter().tablesorterPager({container: $("#pager")}); 
			$("#SharedResponses").tablesorter().tablesorterPager({container: $("#pager")});
	    } 
	); 
	</script>



{% endblock %}


{% block content %}
<body>


<h2>Your Responses<button class="btn btn-default" onclick="yourHelp()">?</button></h2>

<table id="Responses" class="tablesorter"> 
<thead> 
<tr> 
    <th>Template</th> 
    <th>Student</th> 
    <th>Date Taken</th> 

</tr> 
</thead> 
<tbody>

{% for n in conversations %}

<tr> 
    <td>
		<a href={% url 'SingleResponse' n.id %}>
		{{n.templateID.shortDesc}}
		</a>
	</td> 
	<td>
		<a href={% url 'SingleResponse' n.id %}>
		{{n.studentName}}
		</a>
	</td> 
    <td>
			<a href={% url 'SingleResponse' n.id %}>
			{{n.dateTime}}
			</a>
	</td> 
	</tr> 

{% endfor %}

</tbody>
</table>

<h2>Responses Shared With You<button class="btn btn-default" onclick="shareHelp()">?</button></h2>
<table id="SharedResponses" class="tablesorter"> 
<thead> 
<tr> 
    <th>Template</th> 
    <th>Student</th> 
    <th>Date Taken</th> 

</tr> 
</thead> 



{% for n in SharedConversations %}
<tbody> 
<tr> 
    <td>
		<a href={% url 'SingleResponse' n.id %}>
		{{n.templateID.shortDesc}}
		</a>
	</td> 
    <td>
		<a href={% url 'SingleResponse' n.id %}>
		{{n.dateTime}}
		</a>
	</td> 
    <td>
		<a href={% url 'SingleResponse' n.id %}>
		{{n.studentName}}
		</a>
	</td> 
</tr> 

{% endfor %}


</table>



  </body>
</html>
{% endblock %}

