<!-- This template is used to share a selected template with a selected researcher.  It uses the
ShareTemplate view.-->
{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block title %}Share Template{% endblock %}
{% block content %}
    <h3>Share Template</h3>

    {% if success %}
        <div class="alert alert-success">
            The conversation template you selected was successfully shared with {{success}}
        </div>
    {% else %}
        {% if failed %}
            <div class="alert alert-danger">
                {{failed}}
            </div>
        {% endif %}

        {% if form %}
            <form action = "" method = "post"> {% csrf_token %}
                {% for field in form %}
                <div class = "field_error_wrapper">
                    {{field.errors}}
                    {{field.label_tag}}<br/>
                    {{field}}
                    <br/><br/>
                </div>
            {% endfor %}
            <br>
            <input type = "submit" value = "Share" />
            </form>
        {% endif %}
    {% endif %}

{% endblock %}
