<!-- This template is used to share responses with other researchers.-->
{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block title %}Share Response{% endblock %}
{% block content %}
    <link href="{% static "dist/css/bootstrap.css" %}" rel="stylesheet">
    <h3>Share Responses</h3>

    {% if success %}
        <div class="alert alert-success">
            The response you selected was successfully shared with {{success}}
        </div>
    {% endif %}

    {% if failed %}
        <div class="alert alert-danger">
            {{failed}}
        </div>
    {% endif %}

    {% if shared %}
        <table border="1">
            <tr>
                <th align="center">Researcher</th>
                <th align="center">Date Shared</th>
            </tr>
            <!--Gets the information for each generated link from the StudentAccess table -->
            {% for share in shared %}
                <tr>
                    <td align="center">{{share.researcherID}}</td>
                    <td align="center">{{share.dateTimeShared}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if form %}
        <form action = "" method = "post"> {% csrf_token %}
            {% for field in form %}
            <div class = "field_error_wrapper">
                {{field.errors}}
                {{field.label_tag}}</br>
                {{field}}
            </div>
        {% endfor %}
        <br>
        <input type = "submit" value = "Share" />
        </form>
    {% endif %}

{% endblock %}