<!-- This template is used to display a single conversation worth of responses-->
{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}{{currentConvo.shortDesc}}{% endblock %}
{% block extrahead %}

	<link href="{% static "dist/css/bootstrap.css"%}" rel="stylesheet">
	<link href="{% static "tables/themes/blue/style.css"%}" rel="stylesheet">
	<script src="{% static 'jquery-2.1.0.min.js' %}"></script>
	<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static "jquery-2.1.0.min.js" %}">
	</script>
	<script src="{% static "tables/jquery.tablesorter.min.js" %}">
	</script>


{% endblock %}

{% block content %}
<body>

<h2>{{conversation.templateID.shortDesc}}:	 {{conversation.studentName}} </h2>
<h3> {{conversation.dateTime}} </h3>


<table id="Responses" class="tablesorter">
<thead>
<tr>
	<th>#</th>
	<th>Response</th>
	<th>Recording</th>
</tr>
</thead>

<tbody>
{% for n in responses %}
<tr>
	<td>{{n.order}}</td>
	<td>{{n.choice}}</td>
	<td><a href=/{% get_media_prefix %}{{n.audioFile}}>Listen to Recording</a></td>

</tr>

{% endfor %}
</tbody>
</table>


</body>
{% endblock %}

