<!-- This template is used to display a single conversation worth of responses-->
{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}Simcon - {{currentConvo.shortDesc}}{% endblock %}
{% block extrahead %}

	<link href="{% static "dist/css/bootstrap.css"%}" rel="stylesheet">
	<link href="{% static "tablesorter/css/theme.blue.css"%}" rel="stylesheet">
	<link href="{% static "tablesorter/addons/pager/jquery.tablesorter.pager.css"%}" rel="stylesheet">
	<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static "tablesorter/js/jquery.tablesorter.min.js" %}"></script>
	<script type="text/javascript" src="{% static "tablesorter/addons/pager/jquery.tablesorter.pager.js" %}"></script>
    <script type="text/javascript" src="{% static "tablesorter/js/jquery.tablesorter.widgets.js" %}"></script>
    <script type="text/javascript" src="{% static "tablesorter/js/tbSorter.js" %}"></script>

	<script>
	$(document).ready(function()
	    {
            tbSorter("#Responses", "#pager");
	    }
	);
    </script>


    <!-- help stuff -->
    <link rel="stylesheet" href="{%static "css/smoothness/jquery-ui-1.10.4.custom.css" %}">
    <script src="{%static "js/jquery-ui-1.10.4.custom.js" %}"></script


{% endblock %}

{% block content %}

<h2>{{conversation.templateID.shortDesc}}:	 {{conversation.studentName}} </h2>
<h3>Email comments to student at <a href="mailto:{{conversation.studentEmail}}?subject=Simulated Conversation Feedback for {{conversation.templateID.shortDesc}}">  {{conversation.studentEmail}}</a> 
<h3> {{conversation.dateTime}} </h3>


<table id="Responses" class="tablesorter">
<thead>
<tr>
	<th>#</th>
	<th>Response</th>
        <th class="filter-false">Recording<button class="btn btn-default" id="resHelp">?</button>
          <script>
             $( "#resHelp" ).click(function() {
                $( "#resText" ).dialog( "open" );
             });
          </script>
        </th>
	<th class="filter-false">Audio File</th>
</tr>
</thead>

<tbody>
{% for n in responses %}
<tr>
	<td>{{n.order}}</td>
	<td>{{n.choice.responseText}}</td>
	<td>
    <audio controls>
        <source src="/{% get_media_prefix %}{{n.audioFile}}" type="audio/wav">
        Your browser does not support the audio element.
        </audio> 
    </td>
	<td>
		<a href="/{% get_media_prefix %}{{n.audioFile}}" type="audio/wav"> Right click to save audio</a>
	</td>

</tr>

{% endfor %}
</tbody>
</table>
<div id="pager" class="pager">
    <form>
        <img src={% static "tablesorter/addons/pager/icons/first.png"%} class="first"/>
        <img src={% static "tablesorter/addons/pager/icons/prev.png"%} class="prev"/>
        <input type="text" class="pagedisplay"/>
        <img src={% static "tablesorter/addons/pager/icons/next.png"%} class="next"/>
        <img src={% static "tablesorter/addons/pager/icons/last.png"%} class="last"/>
        <select class="pagesize">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
        </select>
    </form>
</div>

   <div id="resText" title="Audio Help">
           <p>Click on any Listen to Recording link and your computer will decide the best way to play the audio file.
           </br>Or right-click on the link and you can save it to your computer to listen to later.
           </p>
   </div>

     <script>
             $( "#resText" ).dialog( { autoOpen: false } );
     </script>     
{% endblock %}

