<!-- This template is used to allow the student to givew a text version of their response.  It uses the 
StudentResponseInstance view.-->
{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block title %}Student Text Response{% endblock %}
{% block content %}
    <div class="container">
	
      <h2><u>Response Page</u></h2>
      <div class="alert alert-success">Choose the response that best matches the audio you just recorded.</div>

        <form name="StudentTextChoiceForm" action="/studenttextchoice/" method="POST">
		  <div><br>
          { % for i in range(1:10) % }
            { % if {{responses[i-1]}} != "NA" % }
              <input type="radio" name="choices" value="{{responses[i-1]}}"> {{responses[i-1]}}<br>
            { % endif % }
          { % endfor % }
          </div>
        </form>

		
	  {% if {{newPID}} != "endpoint" %}
        <button type="submit" class="btn btn-default" action="/student/response/{{ValKey}}&{{TID}}&{{newPID}}/">Next Video</button>
	  {% else %}
	    <button type="submit" class="btn btn-default" action="/student/submission/">Submission</button>
      {% endif %}

    </div> <!-- /container -->



{ % endblock % }