{% extends "Student_Base.html" %}

{% load staticfiles %}

{# for recorder functions #}
{% load recorder_tags %}

{% block title %}Student Video Response{% endblock %}

{% block extrahead %}
{% getRecorderHead %}


{% endblock %}

{% block content %}
        <div class="alert alert-success">Watch the video and think about how you would respond.<br/>
        Press the <b>record</b> button below, and in a clear voice, respond to the speaker in the video as if you were in the same room, or on the telephone.<br/>
        Press the <b>stop</b> button to go to the next phase of the conversation.</div>
        <h3>Video Page</h3>
	    {% if request.session.playbackVideo %}
          <p><iframe title="YouTube video player" class="youtube-player" type="text/html" 
              width="640" height="390" src="http://www.youtube.com/embed/{{vidLink}}?rel=0"
              frameborder="0" allowFullScreen></iframe></p>
        {% else %}
          <p><iframe title="YouTube video player" class="youtube-player" type="text/html" 
              width="640" height="390" src="http://www.youtube.com/embed/{{vidLink}}?controls=0&rel=0"
              frameborder="0" allowFullScreen></iframe></p>
        {% endif %}
        <div class="well well-sm">{{text|safe}}</div>
        {% load_getUserMedia "makeRecording" %}
        {# defaultHandler "makeRecording" #}  
        <button class="btn btn-default btn-lg" onclick="startRecording(this);"><span class="glyphicon glyphicon-record"/>Record</button>
        <button class="btn btn-default btn-lg" onclick="stopRecording(this);" disabled><span class="glyphicon glyphicon-stop"/>Stop</button>
        <script type="text/javascript">
        function makeRecording(blob){
            window.savedAudio = blob;
            saveRecording(blob);
        }
        function saveRecording(blob){
               var fd = new FormData();  // needed to wrap the blob
               fd.append('data', blob);
               var data = { recording:blob };
               var args = { type:"POST", url:"{% url "SaveAudio" %}", data:fd, processData: false, contentType: false, cache:false, complete:function(){
                               gotoNext()
                           } };
               $.ajax(args);
        }
        function gotoNext(){
           //var fd = new FormData();  // needed to wrap the blob
           //fd.append('data', window.savedAudio);
           //var data = { recording:blob };
           //var data = {'VoR': 'video'};
           //var args = { type:"POST", url:{% url 'StudentConvoStep' %}, data:data, processData: false, contentType: false, cache:false, complete:function(){
                           window.location.replace("{% url 'StudentConvoStep' %}");
                       //} };
           //$.ajax(args);
        }
        </script>
{% endblock %}
