{% extends "Student_Base.html" %}
{% load staticfiles %}
{% block title %}Student Text Response{% endblock %}
{% block content %}
      <h2><u>Response Page</u></h2>
      <div class="alert alert-success">Choose the response that best matches the audio you just recorded.</div>

        <form name="input" action="/studentconvostep/" method="POST">
		  <div><br>
          { % for i in {{responses.objects.all()}} % }
            <input type="radio" id="choice" value=responses.object.order_by('optionNumber')[i-1].optionNumber>{{responses.objects.order_by('optionNumber')[i-1].responseText}}<br>
          { % endfor % }
          </div>

          <button type="submit" class="btn btn-default">Next</button>
        </form>

{ % endblock % }