{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <meta name="author" content="Daniel Jordan, Ken Williams, Nick Horner, Nathanial Myers,Jason Nelson, Griff Masters, Alexander Steiert">

    <!-- prevent line breaks when using form fields -->
    <style type="text/css">
    form {display:inline; margin:0px; padding:0px;}
    </style>
    

    <title>
    {% block title %}Simulated Conversations | Student{% endblock %}
    </title>

    <script type="text/javascript" src="{% static 'jquery-2.1.0.min.js' %}"></script>
    <link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet">
    
    {% block extrahead %} {% endblock %}
  </head>

  <body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

