<!-- This template is used to allow the student to givew a text version of their response.  It uses the 
StudentResponseInstance view.-->
{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block title %}Student Text Response{% endblock %}
{% block content %}
    <div class="container">
      <h2><u>Let's Go To The Park</u></h2>
      <h3>Video title</h3>
      <p>Choose the response that best matches the audio you just recorded.</p>
      { % for i in range(1:10) % }
        { % if {{responses[i]}} != 0 % }
		  {# need insert a form here to capture what the student's choice was #}
          <p><button type="button" class="btn btn-default">{{responses[i]}}</button></p>
        { % endif % }
      { % endfor % }

    </div> <!-- /container -->
	{# use form submission here  to figure out what newPID we need #}
    <button type="submit" class="btn btn-default"><a href="/student/video/{{ValKey}}&{{TID}}&{{newPID}}/">Next Video</a></button>

{ % endblock % }