{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block title %}Student Video Response{% endblock %}
{% block content %}

    <div class="container">

      <div class="starter-template">
        <div class="alert alert-success">Here's how to use this page.... blah blah blah.</div>
        <h3>Video Page</h3>
	    { % if {{playback}} == True % }
          <p><iframe title="YouTube video player" class="youtube-player" type="text/html" 
              width="640" height="390" src="http://www.youtube.com/embed/{{vidLink}}"
              frameborder="0" allowFullScreen></iframe></p>
        { % else % }
          <p><iframe title="YouTube video player" class="youtube-player" type="text/html" 
              width="640" height="390" src="http://www.youtube.com/embed/{{vidLink}}" showsearch=0 rel = 0
              frameborder="0" allowFullScreen></iframe></p>
        { % endif % }
        <div class="well well-sm">{{text}}</div>

        { % if request.session.PIID != "endpoint" % }
		<form name="input" action="/student/response/">
		  <input type="submit" class="btn btn-default" value="Record Audio">
		</form>
        { % else if request.session.PIID == "endpoint" %}
		<form name="input" action="/student/submission/">
        { % endif % }		
		  {# need to include recorder #}
		  <input type="submit" class="btn btn-default" value="Record Audio">
		</form> 
 	  
	</div>  
{% endblock %}