{% extends "Student_Base.html" %}

{% block title %}Student Login{% endblock %}
{% block extrahead %}
<script>
      $("#formButton").on("click", "#progress", $("#form1").submit());
</script>
{% endblock %}
{% block content %}
	{# TODO url this action #}
      <form id="form1" action="/studentinfo/" method = "post">{%csrf_token%}
        <div class="form-group">
          <input type="text" class="form-control" name="SName" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="SEmail" placeholder="Email (optional)">
        </div>

<hr>
        <div class="panel panel-info">
          <div class="panel-heading">Use Policy Acceptance</div>
          <div class="panel-body" id="formButton">
            <p>I agree to have my audio recordings collected and used for research.</p>
            <div class="checkbox">
              <label>
                <input type="checkbox" onClick='$("#progress").removeAttr("disabled", false)'> I accept
              </label>
            </div>
			<button type="button" name="progress" id="progress" class="btn btn-default" style="float: right;" disabled onClick=document.forms["form1"].submit()>Begin Conversation</button>
          </div>
        </div>
      </form>

<hr>

{% endblock %}
