{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block title %}
Template Wizard
{% endblock %}
{% block branding %}
<h1 id="site-name">Simcon | Template Wizard</h1>
{% endblock %}

{% block content %}

    <div id="mainBody" class="container">
      <div class="starter-template">
        <div class="row">
          <div class="col-md-7">
            <h2>Conversation Template Wizard</h2>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            Your conversation template was successfully saved. <a href="{% url 'ResearcherView' %}">Click here to return to the main page</a>.
          </div>
          <hr>

      </div>

    </div><!-- /.container -->
{% endblock %}
