{% block extrahead %}
{% if widge %}
{{ widge.media }}
{% endif %}
{% endblock %}

{% block content %}
{% load simcon_extras %}
                {% if request.session.selectedVideo != "" %}
                  <div id="rightPaneVideoTitle" class="center-block"></div>
                  <script>
                         $(document).ready(function(){
                          $.getJSON('http://gdata.youtube.com/feeds/api/videos/{{ request.session.selectedVideo }}?v=2&alt=jsonc',function(data,status,xhr){
                                $("#rightPaneVideoTitle").html('<h4>'+data.data.title+'<h4>');
                             });
                          });
                        </script>
                  <input type="hidden" id="selectedVideo" value="{{ request.session.selectedVideo }}">
                  <div style="text-align:center;">
		    <object width="400" height="243">
		      <param name="movie"
			     value="https://www.youtube.com/v/{{ request.session.selectedVideo }}?version=3&autoplay=0"></param>
		      <param name="allowScriptAccess" value="always"></param>
		      <embed src="https://www.youtube.com/v/{{ request.session.selectedVideo }}?version=3&autoplay=0"
			     type="application/x-shockwave-flash"
			     allowscriptaccess="always"
			     width="400" height="243"></embed>
		    </object><br>
                  </div><br>
                  
                  
                  {# Rich Text box http://django-tinymce.readthedocs.org/en/latest/index.html #}
                  {{widge.as_p }}
                  <button type="button" class="btn btn-default btn-sm saveVideoPageButton" id="saveVideoPage" value="{{request.session.selectedVideo}}">
                      <span class="glyphicon glyphicon-save"></span> Click here to save this text
                    </button><button class="btn btn-default" id="richHelp">?</button><br>
                  <div style="text-align:center;">
                    <label for="enablePlayback">Enable playback of video?</label> <input type="checkbox" id="enablePlayback"
                    {% for chk in request.session.enablePlayback %}
                      {% if chk == request.session.selectedVideo %} 
                        checked 
                      {% endif %}
                    {% endfor %}>
                  </div>
                  <h4><u>Responses:</u></h4>
		    <div class="form-group">
                      <table>
                        <input type="hidden" id="addResponseParentVideo" value="{{request.session.selectedVideo}}">
                      {% for parent in request.session.responseParentVideo %}
                        {% if parent == request.session.selectedVideo %}
                            <tr>
                            <td>{{ request.session.responseText|get_at_index:forloop.counter0 }}</td>
	     		    <td>
                          {% if request.session.responseChildVideo|get_at_index:forloop.counter0 == "endpoint" %}
                            <button type="button" class="btn btn-default btn-md" disabled><span class="glyphicon glyphicon-flag"></span></button>
                          {% else %}
                <input type="image" src="http://img.youtube.com/vi/{{ request.session.responseChildVideo|get_at_index:forloop.counter0 }}/0.jpg" class="img-rounded editVideoImage" width="40" height="30">
                          {% endif %}
			    <button type="button" id="removeResponseButton" class="btn btn-default btn-xs removeResponseButton" value="{{forloop.counter0}}">
			      <span class="glyphicon glyphicon-trash"></span> Remove Response
			    </button></td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                          
                      </table>
		      <label for="addResponseText">Add Response Option:</label>
		      <input type="text" id="addResponseText" class="form-control" placeholder="Enter the response text">
                      <select id="addResponseChildVideo" class="form-control">
                        <option value="none">Select a destination for this response</option>
                        {% for vid in request.session.videos %}
                          {% if vid != request.session.selectedVideo %}
                            <option value="{{ vid }}">Video {{ forloop.counter }}</option>
                          {% endif %}
                        {% endfor %}
                        <option value="endpoint">[Use this response as an end-point]</option>
                      </select>
                      <button type="button" class="btn btn-default btn-xs" id="addResponseButton" value="addResponseButton">
                         <span class="glyphicon glyphicon-plus"></span> Add Response Option 
                      </button>
                      <button class="btn btn-default" id="addHelp">?</button>
		    </div>
                    
                    
                {% else %}
                  No video selected.
                {% endif %}

    <div id="rich_Text">
            <p>Enter any supporting text as your would like it to be displayed on the video page.  <b>Be sure to click the button to save your text before leaving the page.</b>
    </div>
    <div id="addText">
       <p>Enter a possible response to the video and then select from the dropdown menu where that response will lead next.
       <p>If your video does not appear in the dropdown menu, make sure it is in the video pool to the left.            
    </div>

    <script>
        $( "#rich_Text" ).dialog( { autoOpen: false } );      
        $( "#richHelp" ).click(function() {
                $( "#rich_Text" ).dialog( "open" );
        });
        $( "#addText" ).dialog( { autoOpen: false } );      
        $( "#addHelp" ).click(function() {
                $( "#addText" ).dialog( "open" );
        });
    </script>                
{% endblock %}
